@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


body {
    display: flex;
    padding: 0 20px; 
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #0c4d48;
}

.container {
    width: 850px;
    background: #f8ebeb;
    display: flex;
    gap: 70px;
    align-items: flex-end;
    padding: 60px 40px;
    border-radius: 10px;
}

.hangman img{
    max-width:270px;
}

.hangman h1 {
    font-size: 1.50rem;
    color: #0d4d4ee2;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

.letter-display {
    display: flex;
    gap: 10px;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.letter-display .word {
    width: 28px;
    font-size: 2rem;
    font-weight: 550;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    border-bottom: 3px solid #000;
}

.letter-display .word.guessed {
    border-color: transparent;
    margin: -40px 0 34px;
}

.gamebox h4 {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 450;
    margin-bottom: 15px;
}

.gamebox h4 b {
    font-weight: 550;
}

.gamebox .guess b{
    color: #940101;
}

.gamebox .keyboard {
    display: flex;
    gap: 5px;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

:where(.result-gif, .keyboard) button {
    color: #000000;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    background: #c2920ff7;
    border-radius: 5px;
    text-transform: uppercase;  
    border: none;  
}

.keyboard button {
    padding: 8px;
    width: calc(100% / 10 -6px);
}


:where(.result-gif .keyboard)button:hover {
    background: #c2920ff7;
}

.result-gif {
    position: fixed;
}

.result-gif img {
    max-width: 200px;
    margin-bottom: 25px;
}

.result-gif .gif-L {
    background: #0c4d48;
    max-width: 420px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    display: none;
}

.result-gif h4 {
    font-size: 1.54rem;
}

.result-gif p {
    font-size: 1.20rem;
    margin: 20px 0 40px;
    font-weight: 600;
}

.result-gif p b {
    color: #c2920ff7;
    font-weight: 700;
}

.result-gif button {
    padding: 14px 25px;
    cursor: pointer;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
        padding: 40px 25px;
        align-items:center;
    }

    .hangman img {
        max-width: 300px;
    }

    .hangman h1 {
        display: none;
    }

}